html , body{
    font-family: "Red Hat Display", serif;
    overflow-x: hidden;
    margin: 0;
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 3vw;
}

nav img{
    width: calc(1em + 6vw);
    height: auto;
}
.intro{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    padding: 3vw 0;
}


.center-intro{
    text-align: center;
    align-content: center;
    justify-self: center;
    width: 60%;
}
.center-intro h1{
    font-weight: 900;
    font-size: 4.5vw;
    text-align: center;
    margin:0;
    line-height: 1em;
    color:#28283D;
}
.center-intro p{
    font-size: 1.25vw;
    text-align: center;
    margin: 2vw 0;
    color: #87879D;
}

.left-img{
    position: relative;
    width: 100%;
    left: -2vw;
}
.right-img{
    position: relative;
    width: 100%;
    left: 2vw;
}
.buttons button{
    padding: 1vw 2vw;
    font-weight: bold;
    border-radius: 2em;
    border:0;
    margin: 0em 0.3vw;
    color: white;
    font-size: 1vw;
    width:auto;
}

.buttons button:first-child{
    background-color: #4D96A9;
}

.buttons button:first-child span{
    color: #8FE3F9;
}
.buttons button:last-child{
    background-color: #855FB1;
}

.body-1{
    display: grid;
    padding: 2vw 10vw;
    justify-items: center;
    grid-template-rows: 0.8fr 1fr 1fr;
    align-items: center;
}

.body-1 img{
    width: 4vw;
}

.body-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2vw;
}

.body-images img{
    width: 100%;
    border-radius: 1vw;
}

.body-text{
    text-align: center;
    align-content: center;
    justify-self: center;
    width: 50%;
}

.body-text p:first-child{
    text-transform: uppercase;
    color: #4D96A9;
    font-weight: 900;
    font-size: 1vw;
    letter-spacing: 0.2vw;
}

.body-text h2{
    color: #28283D;
    font-weight: 900;
    font-size: 3.5vw;
    margin:0;
    line-height: 4vw;
}

.body-text p:last-child{
    color: #87879D;
    font-weight: 500;
    font-size: 1.3vw;
}

.body-2{
    display: grid;
    justify-items: center;
    grid-template-rows: auto auto;
    align-items: center;
    position: relative;
}
.number-2{
    top: 2vw;
    position: relative;
    z-index: 2;
    width: 4vw;
}

footer{
    display: grid;
    justify-items: center;
    align-items: center;
}

.footer-img{
    width: 100vw;
    color: #4D96A9;
    filter: saturate(20%) opacity(0.3) drop-shadow(0 0 0 #4D96A9) saturate(200%);
}
.footer-text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 10vw;
    column-gap: 10vw;
    font-size: 1vw;
    justify-items: center;
    position: absolute;
    color: white;
    align-items: center;
}
.footer-text h1{
    font-weight: 900;
}
.footer-text button{
    padding: 1vw 2vw;
    font-weight: bold;
    border-radius: 4vw;
    border:0;
    color: white;
    width:12vw;
    height: 4vw;
    font-size: 1vw;
    background-color: #855FB1;
}

.footer-text button span{
    color: #D9B8FF;
}

@media (max-width:768px) {
    nav img{
        width: calc(1em + 8vw);
        height: auto;
    }
    .left-img{
        grid-area: left-img;
    }
    .right-img{
        grid-area: right-img;
    }
    
    .intro{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "left-img right-img"
        "center-intro center-intro";
    }
    .center-intro{
        grid-area: center-intro;
        width: 43%;
    }
    .center-intro h1{
        font-size: 6vw;
    }
    .center-intro p{
        font-size: 1.6vw;
    }
    .footer-text{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .buttons button{
        font-size: 2vw;
        padding: 2vw 4vw;
    }
    .body-text{
        width: 60%;
    }
    .body-text p:first-child{
        font-size: 2vw;
    }

    .body-text h2{
        font-size: 4vw;
    }

    .body-text p:last-child{
        font-size: 1.6vw;
    }
    .footer-text{
        font-size: 1.5vw;
        width:50%;
        text-align: center;
    }
}